<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="/img/favicon.png" sizes="32x32" type="image/png">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <script src="/js/scrollreveal.min.js" defer></script>
        <script type="module" src="/js/index.js" defer></script>

        <title><%= title %></title>
    </head>
    <body>

        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    <i class="ri-leaf-line nav__logo-icon"></i> Green interior
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link">Accueil</a>
                        </li>
                        <li class="nav__item">
                            <a href="#about" class="nav__link">À propos</a>
                        </li>
                        <li class="nav__item">
                            <a href="#products" class="nav__link">Produits</a>
                        </li>
                        <li class="nav__item">
                            <a href="#faqs" class="nav__link">FAQs</a>
                        </li>
                        <li class="nav__item">
                            <a href="#contact" class="nav__link">Nous contacter</a>
                        </li>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>
                </div>

                <div class="nav__btns">
                    <i class="ri-moon-line change-theme" id="theme-button"></i>

                    <div class="nav__toggle" id="nav-toggle">
                        <i class="ri-menu-line"></i>
                    </div>
                </div>
            </nav>
        </header>

        <main class="main">

            <section class="home" id="home">
                <div class="home__container container grid">
                    <img src="/img/home.png" alt="" class="home__img">

                    <div class="home__data">
                        <h1 class="home__title">
                            Les plantes vous rendront <br> la vie plus facile
                        </h1>
                        <p class="home__description">
                            Installez des plantes dans vos bureaux ou votre appartement et
                            redonnez vie à votre environnement.
                        </p>
                        <a href="#about" class="button button--flex">
                            Explorer <i class="ri-arrow-right-down-line button__icon"></i>
                        </a>
                    </div>

                    <div class="home__social">
                        <span class="home__social-follow">Nous suivre</span>

                        <div class="home__social-links">
                            <a href="https://www.facebook.com/" target="_blank" class="home__social-link">
                                <i class="ri-facebook-fill"></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank" class="home__social-link">
                                <i class="ri-instagram-line"></i>
                            </a>
                            <a href="https://twitter.com/" target="_blank" class="home__social-link">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="about section container" id="about">
                <div class="about__container grid">
                    <img src="/img/about.png" alt="" class="about__img">

                    <div class="about__data">
                        <h2 class="section__title about__title">
                            Qui nous sommes & <br> pourquoi nous choisir
                        </h2>

                        <p class="about__description">
                            Nous avons +4000 commentaires et nos clients nous font
                            confiance dans la qualité des plantes et des services
                            que nous fournissons.
                        </p>

                        <div class="about__details">
                            <p class="about__details-description">
                                <i class="ri-checkbox-fill about__details-icon"></i>
                                Nous livrons toujours à temps.
                            </p>
                            <p class="about__details-description">
                                <i class="ri-checkbox-fill about__details-icon"></i>
                                Nous vous fournissons des conseils pour protéger vos plantes.
                            </p>
                            <p class="about__details-description">
                                <i class="ri-checkbox-fill about__details-icon"></i>
                                Service après vente de qualité.
                            </p>
                            <p class="about__details-description">
                                <i class="ri-checkbox-fill about__details-icon"></i>
                                Remboursement à 100%.
                            </p>
                        </div>

                        <a href="#" class="button--link button--flex">
                            Acheter maintenant <i class="ri-arrow-right-down-line button__icon"></i>
                        </a>
                    </div>
                </div>
            </section>

            <section class="steps section container">
                <div class="steps__bg">
                    <h2 class="section__title-center steps__title">
                        Étapes pour débuter <br> en toute sérénité
                    </h2>

                    <div class="steps__container grid">
                        <div class="steps__card">
                            <div class="steps__card-number">01</div>
                            <h3 class="steps__card-title">Choisir une plante</h3>
                            <p class="steps__card-description">
                                Vous pouvez choisir parmi une large variété.
                            </p>
                        </div>

                        <div class="steps__card">
                            <div class="steps__card-number">02</div>
                            <h3 class="steps__card-title">Passer votre commande</h3>
                            <p class="steps__card-description">
                                Une fois la commande passée, nous préparons l'expédition.
                            </p>
                        </div>

                        <div class="steps__card">
                            <div class="steps__card-number">03</div>
                            <h3 class="steps__card-title">Faites-vous livrer</h3>
                            <p class="steps__card-description">
                                Nos modalités de livraison sont simples, vous recevez la plante
                                directement chez vous.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="product section container" id="products">
                <h2 class="section__title-center">
                    Jetez un oeil à <br> nos produits
                </h2>

                <p class="product__description">
                    Voici quelques plantes que nous avons choisi pour vous. Elles
                    ont toutes une longue durée de vie. Achetez et profitez-en.
                </p>

                <div class="product__container grid">
                    <article class="product__card">
                        <div class="product__circle"></div>

                        <img src="/img/product1.png" alt="" class="product__img">

                        <h3 class="product__title">Cactus</h3>
                        <span class="product__price">19,99€</span>

                        <button class="button--flex product__button">
                            <i class="ri-shopping-bag-line"></i>
                        </button>
                    </article>

                    <article class="product__card">
                        <div class="product__circle"></div>

                        <img src="/img/product2.png" alt="" class="product__img">

                        <h3 class="product__title">Cactus</h3>
                        <span class="product__price">11,99€</span>

                        <button class="button--flex product__button">
                            <i class="ri-shopping-bag-line"></i>
                        </button>
                    </article>

                    <article class="product__card">
                        <div class="product__circle"></div>

                        <img src="/img/product3.png" alt="" class="product__img">

                        <h3 class="product__title">Aloe Vera</h3>
                        <span class="product__price">7,99€</span>

                        <button class="button--flex product__button">
                            <i class="ri-shopping-bag-line"></i>
                        </button>
                    </article>

                    <article class="product__card">
                        <div class="product__circle"></div>

                        <img src="/img/product4.png" alt="" class="product__img">

                        <h3 class="product__title">Belle plante</h3>
                        <span class="product__price">5,99€</span>

                        <button class="button--flex product__button">
                            <i class="ri-shopping-bag-line"></i>
                        </button>
                    </article>

                    <article class="product__card">
                        <div class="product__circle"></div>

                        <img src="/img/product5.png" alt="" class="product__img">

                        <h3 class="product__title">Belle plante</h3>
                        <span class="product__price">10,99€</span>

                        <button class="button--flex product__button">
                            <i class="ri-shopping-bag-line"></i>
                        </button>
                    </article>

                    <article class="product__card">
                        <div class="product__circle"></div>

                        <img src="/img/product6.png" alt="" class="product__img">

                        <h3 class="product__title">Plante verte</h3>
                        <span class="product__price">8,99€</span>

                        <button class="button--flex product__button">
                            <i class="ri-shopping-bag-line"></i>
                        </button>
                    </article>
                </div>
            </section>

            <section class="questions section" id="faqs">
                <h2 class="section__title-center questions__title container">
                    Quelques questions <br> fréquentes
                </h2>

                <div class="questions__container container grid">
                    <div class="questions__group">
                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Les fleurs qui tombent sont-elles mourantes ?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Les plantes vous permettent d'ajouter de la couleur
                                    et de l'énergie à vos intérieurs, entretenez les bien.
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Pourquoi les feuilles tombent ?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Les plantes vous permettent d'ajouter de la couleur
                                    et de l'énergie à vos intérieurs, entretenez les bien.
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Pourquoi mes plantes fanent ?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Les plantes vous permettent d'ajouter de la couleur
                                    et de l'énergie à vos intérieurs, entretenez les bien.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="questions__group">
                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Comment choisir ma plante ?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Les plantes vous permettent d'ajouter de la couleur
                                    et de l'énergie à vos intérieurs, entretenez les bien.
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Comment changer les pots ?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Les plantes vous permettent d'ajouter de la couleur
                                    et de l'énergie à vos intérieurs, entretenez les bien.
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title">
                                    Pourquoi des insectes sont autour de mes plantes ?
                                </h3>
                            </header>

                            <div class="questions__content">
                                <p class="questions__description">
                                    Les plantes vous permettent d'ajouter de la couleur
                                    et de l'énergie à vos intérieurs, entretenez les bien.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="contact section container" id="contact">                
                <div class="contact__container grid">
                    <div class="contact__box">
                        <h2 class="section__title">
                            Vous pouvez nous joindre aujourd'hui <br> avec tous les <br> moyens suivants
                        </h2>

                        <div class="contact__data">
                            <div class="contact__information">
                                <h3 class="contact__subtitle">Contactez nous en direct</h3>
                                <span class="contact__description">
                                    <i class="ri-phone-line contact__icon"></i>
                                    02 45 12 65 99
                                </span>
                            </div>

                            <div class="contact__information">
                                <h3 class="contact__subtitle">Écrivez nous par email</h3>
                                <span class="contact__description">
                                    <i class="ri-mail-line contact__icon"></i>
                                    contact@greeninterior.com
                                </span>
                            </div>
                        </div>
                    </div>

                    <form action="" class="contact__form">
                        <div class="contact__inputs">
                            <div class="contact__content">
                                <input type="email" placeholder=" " class="contact__input">
                                <label for="" class="contact__label">Email</label>
                            </div>

                            <div class="contact__content">
                                <input type="text" placeholder=" " class="contact__input">
                                <label for="" class="contact__label">Sujet</label>
                            </div>

                            <div class="contact__content contact__area">
                                <textarea name="message" placeholder=" " class="contact__input"></textarea>                              
                                <label for="" class="contact__label">Message</label>
                            </div>
                        </div>

                        <button class="button button--flex">
                            Envoyer un message
                            <i class="ri-arrow-right-up-line button__icon"></i>
                        </button>
                    </form>
                </div>
            </section>
        </main>

        <footer class="footer section">
            <div class="footer__container container grid">
                <div class="footer__content">
                    <a href="#" class="footer__logo">
                        <i class="ri-leaf-line footer__logo-icon"></i> Green interior
                    </a>

                    <h3 class="footer__title">
                        Inscrivez à notre newsletter <br> pour ne rien rater
                    </h3>

                    <div class="footer__subscribe">
                        <input type="email" placeholder="Enter your email" class="footer__input">

                        <button class="button button--flex footer__button">
                            S'inscrire
                            <i class="ri-arrow-right-up-line button__icon"></i>
                        </button>
                    </div>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Notre adresse</h3>

                    <ul class="footer__data">
                        <li class="footer__information">33 Quai des Belges</li>
                        <li class="footer__information">Marseille</li>
                        <li class="footer__information">13 016</li>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">Nous contacter</h3>

                    <ul class="footer__data">
                        <li class="footer__information">02 45 12 65 99</li>
                        
                        <div class="footer__social">
                            <a href="https://www.facebook.com/" class="footer__social-link">
                                <i class="ri-facebook-fill"></i>
                            </a>
                            <a href="https://www.instagram.com/" class="footer__social-link">
                                <i class="ri-instagram-line"></i>
                            </a>
                            <a href="https://twitter.com/" class="footer__social-link">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </div>
                    </ul>
                </div>

                <div class="footer__content">
                    <h3 class="footer__title">
                        Nous acceptons tous les moyens de paiements
                    </h3>

                    <div class="footer__cards">
                        <img src="/img/card1.png" alt="" class="footer__card">
                        <img src="/img/card2.png" alt="" class="footer__card">
                        <img src="/img/card3.png" alt="" class="footer__card">
                        <img src="/img/card4.png" alt="" class="footer__card">
                    </div>
                </div>
            </div>

            <p class="footer__copy"></p>
        </footer>
        
        <a href="#" class="scrollup" id="scroll-up"> 
            <i class="ri-arrow-up-fill scrollup__icon"></i>
        </a>

        
    </body>
</html>
